@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #140b5c;
  color: #ffffff;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
  padding: 2% 12%;
}

.top .logo-details {
  font-size: 32px;
}

.media-icons {
  text-align: center;
}

.media-icons a {
  margin-left: 20px;
  color: #ffffff;
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  padding: 8px;
  font-size: 18px;
}

.media-icons a:first-child {
  background-color: #4267b2;
}
.media-icons a:nth-child(2) {
  background-color: #1ea1f1;
}
.media-icons a:nth-child(3) {
  background-color: #e12f6d;
}
.media-icons a:nth-child(4) {
  background-color: #0277b5;
}
.media-icons a:last-child {
  background-color: #ff0000;
}

.link-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2% 12%;
}

.box li {
  list-style-type: none;
}

.box a {
  color: #d0cedf;
  text-decoration: none;
}

.box .link_name {
  font-size: 20px;
  position: relative;
  margin-bottom: 10px;
}

.box .link_name::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 1px;
  bottom: -2px;
  left: 0;
  border-bottom: 2px solid #ffffff;
}

.box li {
  margin-bottom: 10px;
}

.input-box {
  width: 24%;
}

.input-box input[type="text"] {
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  border: 2px solid #d0cedf;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 15px;
  width: 100%;
  margin-top: 5px;
}

.input-box input::placeholder {
  color: #d0cedf;
}

.input-box input[type="button"] {
  font-family: "Poppins", sans-serif;
  background-color: #d0cedf;
  color: #140b5c;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.bottom-details {
  background-color: #0f0844;
  padding: 1% 14%;
  color: #d0cedf;
}

.bottom-details a {
  text-decoration: none;
  color: #d0cedf;
}

.copyright_text a {
  margin-right: 10px;
}

.policy_terms {
  float: right;
}

.policy_terms a {
  margin-left: 10px;
  color: #d0cedf;
}
