@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000000;
  width: 60%;
  margin: 0 20%;
}

ul li {
  list-style-type: none;
  padding: 10px 0;
  width: 20%;
  text-align: center;
  cursor: pointer;
}

ul li a {
  text-decoration: none;
  color: #ffffff;
}

ul li ul li {
  display: none;
}

ul li:hover {
  background-color: #e07c24;
}
